#!/usr/bin/env perl
# created by: [% author %]
# check_whois: [% description %]
#
# chkconfig:    345 88 13
# description:  whois server
#
### BEGIN INIT INFO
# Provides:          whois_daemon
# Required-Start:
# Required-Stop:
# Should-Start:
# Should-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start and stop whois daemon
# Description:       whois by Shamatrin D.
### END INIT INFO

use strict;
use warnings;

1;